.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
}

.headerTitle {
  flex-grow: 1;
  min-width: 25%;
  margin-right: auto;
}

.body__desc {
  color: var(--primary-medium);
}

.card {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  grid-gap: 20px;
  justify-content: space-evenly;
  padding: 1em 5%;
  text-decoration: none;
  color: #000;
}

.card:nth-child(odd) {
  grid-template-areas:
    "b a"
    "c a";
}

.card__image {
  object-fit: contain;
  max-height: 300px;
  grid-area: a;
  justify-self: end;
}
.card__desc {
  grid-area: b;
  justify-self: stretch;
  align-self: center;
}
.card__details {
  justify-self: stretch;
  align-self: center;
  grid-area: c;
  display: flex;
  flex-direction: column;
}