.navigation {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    border-bottom: solid 1px var(--primary-medium);
    font-weight: 500;
    padding: 2em;
    margin-bottom: 1em;
    color: var(--primary-dark);
    position: sticky;
}

.nav_home {
    position: absolute;
    width: -webkit-fill-available;
    color: #fff;

}
.nav__company {
    font-size: 18px;
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.nav__item {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: 0 0.5em;
    justify-self: center;
}
.nav__item_active  {
    color: var(--secondary);
}
.nav__item:hover {
    color: var(--primary-medium);
}